body {
  min-height: 100vh;
  background-image: url(./wallpaper.gif);
  background-size: cover;
  display: flex;
  flex-direction: column;
}


main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.text-shadow {
  text-shadow: 1px 1px black;
}

.dead {
  filter: grayscale(1);
}

.monster {
  cursor: pointer;
}